// Place all the styles related to the GameTeam controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skin-blue .sidebar .approve_link {
	color:white;
	background:red;
	padding: 0.5rem 1rem;
	border-radius: 4px;
}