// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mybtn {
	color: #777777;
	border: 1px solid #696969;
}
.btn_show {
	background-color: #00FF00;
}
.btn_edit {
	background-color: #F7FE2E;
}
.btn_delete {
	background-color: #FF0000;
}