// Place all the styles related to the season controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.season_navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	select {
		height: 30px;
		width: 40px;
	}
}